* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #fff;
  --fg: #111827;
}

html, body, #root {
  height: 100%;
}

body {
  background: var(--bg);
  color: var(--fg);
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

button {
  font-family: inherit;
}

input, textarea, select {
  font-family: inherit;
}
